*{
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('./assets/images/background.png');
  background-color: #212240;
  background-position: top left;
  background-size: cover;
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  font-weight: regular;
}

.App {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1088px;
  max-height: 648px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}